<div class="loaderFull">
  <div class="loaderIcon"></div>
</div>

<md-toolbar *ngIf="user">
  <i style="margin:10px"><span class="fa fa-bars" (click)="sidenav.toggle()"></span></i>
  
  <img src="../assets/favicon.png" alt="" class="snackIcon">
  <span>Welcome,  {{user?.username}}</span>
  <!--<button md-mini-fab class="example-fab" >
    <md-icon>add</md-icon>
  </button>-->
  <span class="spacer"></span>
  <div class="searchbar">
    <div class="group">
      <input type="text" required name="search" [(ngModel)]="search">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Search</label>
    </div>
  </div>
  <span class="spacer"></span>
  <a href="/logout">
    <span class="fa fa-sign-out"></span>
    <p style="display:inline">Sign out</p>
  </a>
  <a *ngIf="githubUser.profileUrl" href="{{githubUser.profileUrl}}"><img *ngIf="githubUser._json.avatar_url" src="{{githubUser._json.avatar_url}}" style="width: 50px;margin-left: 10px;border-radius:100px"></a>
</md-toolbar>

<md-toolbar *ngIf="!user">
  <i style="margin:10px"><span class="fa fa-bars" (click)="sidenav.toggle()"></span></i>
  
  <img src="../assets/favicon.png" alt="" class="snackIcon">
  <span>Login to vote</span>
  <span class="spacer"></span>
  <!--<button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>-->
  
  <div class="searchbar">
    <div class="group">
      <input type="text" required name="search" [(ngModel)]="search">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Search</label>
    </div>
  </div>
  <span class="spacer"></span>
  <a href="/auth/github" class="myButton">
    <span class="fa fa-sign-in"></span>
    <p style="display:inline">&nbsp;Sign in</p>
  </a>
</md-toolbar>




<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <div class="example-scrolling-content">
        <div class="category" *ngFor = "let category of categories" [ngClass] = "{'selected': category == CategorySearch}" (click) = "CategorySetter(category)">
        <p>{{category}}</p>
        <hr>
        </div>
    </div>
  </md-sidenav>






<div id="foodwrapper">
  <md-card class="example-card" *ngFor="let item of productList | search: search:CategorySearch">
    <md-card-header>
      <div md-card-avatar class="example-header-image">
        <p>{{item.votes}}</p>
      </div>
      <md-card-title>{{item.name | truncate: 35}}</md-card-title>
    </md-card-header>
    <img md-card-image src="{{item.img}}" (click)="openItem(item._id)">
    <md-card-subtitle *ngIf="item.category">{{item.category}}</md-card-subtitle>
    <md-card-actions>
      <div class="VoteButtons">
        <div class="halfWidthButton">
          <a (click)="vote({product_id: item._id, value: 1})"><i  [ngClass]="{'up-voted': productsUserLikes.includes(item._id)}" class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
        </div>
        <div class="halfWidthButton">
          <span>&nbsp;</span>
          <i style="color: #4fab4f" class="fa fa-comment comment-icon" aria-hidden="true" (click)="openItem(item._id)"><span>{{item.comments.length}}</span></i>
        </div>
        <div class="halfWidthButton">
          <a (click)="vote({product_id: item._id, value: 0})"><i [ngClass]="{'down-voted': productsUserDislikes.includes(item._id)}" class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </md-card-actions>
  </md-card>
  <div style="color: black; font-family: sans-serif; text-align: center; width: 100%">
  <span>© 2017 SnackingDojo · All Rights Reserved</span>
</div>

</div>





  <!--<div class="example-scrolling-content">
    Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
    vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
    ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
    consectetuer.
  </div>-->
</md-sidenav-container>
